html {
    height: 100%;  
}
body {
    background-image: url("img/background.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    margin: 0;
    background-position: center;
}
.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
    border: 1px solid blue;
}
.flex-item {
    margin: 10px;
}
i.fa {
    color: #FFF;
    transition: .75s ease all;
    margin: 0 20px;
}
.fa:hover {
    color: #abc93f;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .flex-container {
        flex-direction:column;
    }
}
@media screen and (max-width: 768px){
    .flex-item {
        margin: 35px;
    }
}